{{#each this}}
<div class="category-border-up"></div>
<div class="container js-category">
    <section class="category-item ">
        <div class="category-description">
            <button type="button" class="category-btn btn-prev swiper-button-prev">
                &lt;
            </button>

            <!-- Здесь нужно рендерить название категории  -->
            <div class="span_card">
                {{#each this}}
                <span class="category-description__name">{{category}}</span>

                <a href="/{{category}}" class="{{category}}"> Дивитися
                    всі</a>
                {{/each}}
            </div>
            <button type="button" class="category-btn btn-next swiper-button-next">
                &gt;
            </button>
        </div>
        <div class="slider-container swiper-container">
            <ul class="category-cards slider-track swiper-wrapper">
                {{#each this}}

                <!-- Сюда нужно добавлять карточки категории -->

                <li class="card__item card__item category-cards__item slider-item swiper-slide"
                    data-category={{category}} data-description={{description}} data-phone={{phone}}
                    data-userID={{userId}}>
                    <a class="card__link" href="">
                        <div class="card__img-wraper">
                            {{#each imageUrls}}<img class="card__img" src="{{this}}" alt="image">{{/each}}
                            <svg class="card__svg">
                                <use href="../images/sprite/symbol-defs.svg#icon-heart"></use>
                            </svg>
                            <svg class="card__svg2">
                                <use href="../images/sprite/symbol-defs.svg#icon-fullscreen-24px-1"></use>
                            </svg>
                        </div>
                    </a>

                    <div class="card__text">
                        <h3 class="card__title">{{title}}</h3>
                        <div class="double-price">
                            <p class="card__price">{{price}} грн</p>
                            <p class="card__sale">{{isOnSale}}</p>
                        </div>
                    </div>

                </li>
                <!--  -->
                {{/each}}
            </ul>
        </div>
    </section>
</div>
{{/each}}