{{#each this}}
<div class="pagination-group">
    <div class="pagination-name-group-div">
        {{#each this}}
        <span class="pagination-name-group">{{category}}
            <a class="{{category}} " href="/{{category}}">Дивитися всі</a></span>{{/each}}
    </div>
    <ul class="pagination-card-all">
        {{#each this}}
        <li class="pagination-card-block">
            <div class="pagination-card">
                <img class="img1" loading="lazy" src="
                {{imageUrls}}
                " data-src="#" alt=" image" />
            </div>
            <div class="namePrice">
                <p class="pagination-name-card">{{description}}</p>
                <p class="pagination-price">{{price}} грн</p>
            </div>
        </li>

        {{/each}}
    </ul>
</div>
{{/each}}